<%= search_form_for @search, url: help_path, method: :post do |f| %>
  <%= f.condition_fields do |c| %>
    <%= render "condition_fields", f: c %>
  <% end %>
  <p><%= link_to_add_fields "Add Conditions", f, :condition %></p>
  <div class="field">
    Sort:
    <%= f.sort_fields do |s| %>
      <%= s.sort_select %>
    <% end %>
  </div>
  <div class="actions"><%= f.submit "Search" %></div>
<% end %>

<table id="kliendid">
  <tr>
    <th><%= sort_link @search, :name, "Kliendi nimi" %></th>
    <th><%= sort_link @search, :email, "email" %></th>
  </tr>
<% @users.each do |user| %>
  <tr>
    <td><%= link_to(user.name, user) %></td>
    <td><%= user.email %></td>
  </tr>
<% end %>
</table>

