<% provide(:title, "Logi sisse") %>
<h1>Logi sisse</h1>

<div class="row">
  <div class="span6 offset3">
    <%= form_for(:session, url: sessions_path) do |f| %>

      <%= f.label :email %>
      <%= f.text_field :email %>

      <%= f.label :password, "Parool" %>
      <%= f.password_field :password %>

      <%= f.submit "Logi sisse", class: "btn btn-large btn-primary" %>
    <% end %>

    <p>Kui oled uus kasutaja, siis <%= link_to "loo konto", signup_path %></p>
  </div>
</div>