<tr>
<td>
  <%= link_to user.name, user %>
</td>
<td>
  <%= user.email %>
</td>
<td type="datetime-local">
  <%= user.created_at %>
</td>
<td>
  <%= user.updated_at %>
</td>

  <% if current_user.admin? && !current_user?(user) %>
  <td>
    <%= link_to "Kustuta", user, method: :delete,
                                  data: { confirm: "Oled kindel?" } %>
  </td>
  <% end %>


  <% if current_user.admin? %>
  <td>
    <%= link_to "Muuda", edit_user_path(user.id) %>
  </td>
  <% end %>

</tr>
