<% provide(:title, "Uuenda andmeid") %>
<h1>Uuenda andmeid</h1>

<div class="row">
  <div class="span6 offset3">
    <%= form_for(@user) do |f| %>
      <%= render 'shared/error_messages' %>

      <%= f.label :name, "Nimi" %>
      <%= f.text_field :name %>

      <%= f.label :email %>
      <%= f.text_field :email %>
	  
	  <%= f.label :aadress, "Aadress" %>
      <%= f.text_field :aadress %>
      <%= f.label :password, "Parool" %>
      <%= f.password_field :password %>

      <%= f.label :password_confirmation, "Parooli kinnitus" %>
      <%= f.password_field :password_confirmation %>

      <%= f.submit "Salvesta muudatused", class: "btn btn-large btn-primary" %>
    <% end %>

    <%= gravatar_for @user %>
    <a href="http://gravatar.com/emails">muuda</a>
  </div>
</div>
