<% provide(:title, "Uuenda andmeid") %>
<h1>Uuenda andmeid</h1>

<div class="row">
  <div class="span6 offset3">
    <%= form_for(@user) do |f| %>
      <%= render 'shared/error_messages', object: f.object %>

      <%= f.label :name, "Nimi" %>
      <%= f.text_field :name %>

      <%= f.label :email %>
      <%= f.text_field :email %>
	  
	  <% f.fields_for :aadresses do |builder| %>
		<p>
			<%= builder.label :maja, "Maja" %>
			<%= builder.text_field :maja %>
		</p>
		<p>
			<%= builder.label :linn, "Linn" %>
			<%= builder.text_field :linn %>
		</p>
	  <% end %>
	  
      <%= f.label :password, "Parool" %>
      <%= f.password_field :password %>

      <%= f.label :password_confirmation, "Parooli kinnitus" %>
      <%= f.password_field :password_confirmation %>

      <%= f.submit "Salvesta muudatused", class: "btn btn-large btn-primary" %>
    <% end %>

    <%= gravatar_for @user %>
    <a href="http://gravatar.com/emails">muuda</a>
  </div>
</div>
