<% provide(:title, 'Kliendid') %>
<h1>Kõik kliendid</h1>

<%= search_form_for @search do |f| %>
  <div class="field">
    <%= f.label :name_cont, "Nimi sisaldab" %>
    <%= f.text_field :name_cont %>
  </div>
    <div class="field">
    <%= f.label :aadress_cont, "Aadress sisaldab" %>
    <%= f.text_field :aadress_cont %>
  </div>
  <div class="actions"><%= f.submit "Otsi", class: "btn btn-large btn-primary" %></div>
<% end %>

<table class="table table-striped">
  <tr>
    <th><%= sort_link @search, :name, "Nimi" %></th>
    <th><%= sort_link @search, :email, "email" %></th>
	<th><%= sort_link @search, :aadress, "Aadress" %></th>
	<% if current_user.admin? %>
      <th>Kustuta</th>
	  <th><%= sort_link @search, :admin, "Admin?" %></th></th>
	<th>Muuda</th>
	<% end %>
  </tr>
<%= render @users %>
</table>