<% provide(:title, @user.name) %>
<div class="row">
  <aside class="span4">
    <section>
      <h1>
        <%= gravatar_for @user %>
        <%= @user.name %>
      </h1>
	  <%= @user.email %>
    </section>
	<% if current_user.admin? %>
      <%= link_to "Muuda andmeid", edit_user_path(@user.id) %>
    <% end %>
  </aside>
  <h2>
    <%= @user.aadress %>
  </h2>
</div>
